@import "../globalFontStyling";

.buttonContainer{
  background-color: #EEEEEE;
  display: inline-block;
  border-radius: 5px;

}

.gitHubIcon{
  width:20px;
}

.gitHubButton{
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 2px 10px 1px 10px;

  font-size: $fontsizeSmall;
  font-weight: bold;
}

.gitHubButton div{
  padding : 0 6px 0 6px;
}



/*
.pushes{
  border-left: 3px solid #676767;
  padding-left: 5px;
}*/
