@import "../globalStyles";
.buttonContainer {
    background-color: #EEEEEE;
    display: inline-block;
    border-radius: 14px;
    &:hover {
        box-shadow: $colorGrey 0px 0px 8px;
    }
}

.gitHubIcon {
    width: 20px;
}

.gitHubButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 10px 1px 10px;
    font-size: $fontsizeSmall;
    font-weight: 500;
}

.gitHubButton div {
    padding: 0 6px 0 6px;
}