@import "../globalFontStyling";



.projectCell {
  display: flex;
  border-left: solid 6px $colorGreenCalm;

  padding: 10px 5px 10px 0;
  border-radius: 5px;
}

.projectCellContainer {
  padding-top: 20px;
  padding-bottom: 20px;
}

.projectCellTitle {
  color: $colorWhite;
  padding-left: 15px;

  flex: 1 1;
}


.projectResume {
  padding: 0 15px 0 15px;
  line-height: 1.5;
  flex: 3 1;
}
.projectResume::first-line {
  line-height: 1.5 !important;
}

.projectDemoButtonContainer{
  padding-right: 10px;
}

.projectCellButtons {
  flex: 1 1;
  display: flex;
  justify-content: flex-end;
}


@media screen and (max-width: 600px) {

  .projectCell{
    display: flex;
    flex-direction: column;
  }

  .projectCellButtons{
    flex: auto;
    justify-content: normal;
    padding-left: 15px;
    margin-top: 15px;
  }

  .projectResume{
    margin-top: 15px;
  }
}