@import "../globalFontStyling.scss";


 .articleTitle{
   font-size: $fontsizeBig;
   font-weight: bold;
   color: $colorWhiter;
 }

 .copyAndShareButton{
   background-color: #FFE087;
   padding: 0 22px 0 22px;
   height: 26.2px; //same height as ProjectGithubLinkButton
   border: none;
   font-weight: bold;
   color : #1A1A1A;
   text-align: center;
   text-decoration: none;
   cursor: pointer;
   border-radius: 12px;
   font-size: $fontsizeSmall;
 }

 .goToBlogPageButton{
   background-color: #FFE087;
   padding: 0 22px 0 22px;
   height: 26.2px; //same height as ProjectGithubLinkButton
   border: none;
   font-weight: bold;
   color : #1A1A1A;
   text-align: center;
   text-decoration: none;
   cursor: pointer;
   border-radius: 12px;
   font-size: $fontsizeSmall;
 }


 .articleSubTitleContainer{
   display : flex;
   justify-content: flex-start;
   align-items: center;
   flex-wrap: wrap;
   margin-top: 40px;

 }


.datePosted{
  color: $colorWhiter;
  font-size: $fontsizeSmall;
  flex-grow: 0.5;
}

.copyAndShareButtonContainer{
  flex-grow: 0.5;

}
.goToBlogPageButtonContainer{
  flex-grow: 2;
}

.articleHashtagContainer div{
  margin-top: 40px;
  margin-right: 10px;
}

//TODO hesitating between fontsizeMedium or fontsizeSmallMedium

 .articleContent{
   margin-top: 40px;
   color: $colorWhite;
   font-size: $fontsizeMedium;
   line-height: 1.8;
 }