
$verticalPadding : 7px;











.navBarContainer {

  background-color: #FFE087;
  display: none;
  visibility : hidden;
  opacity: 0;

  justify-content: space-around;
  align-items: center;


  padding-top: $verticalPadding;
  padding-bottom: $verticalPadding;

  border-radius: 20px;

  position: fixed;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);  width: 100%;
  max-width: 1000px;
  top : 100px;
}

.navBarLink{

}



