.ilovesemicolonslogo {
  max-width: 276px;
  cursor: pointer;
  outline: none;
  &:focus{
    outline: none;
  }
}

@media screen and (max-width: 600px){
  .ilovesemicolonslogo{
    max-width: 220px;
  }
}
