//========= FONT SIZE =================
$fontsizeSmaller : 12px;
$fontsizeSmall: 14px;
$fontsizeSmallMedium : 16px;
$fontsizeMedium: 18px;
$fontsizeBig : 20px;
$fontsizeBiggest : 26px;

//========= COLORS =================
$colorWhite : #D4D4D4;
$colorWhiter : #EEEEEE;
$colorGrey : #B3B9C5;
$colorBlue : #009EFF;
$colorBluer : #1B7CD1;
$colorYellow : #FFE087;
$colorYellower: #FCC21B;
$colorBlack : #202020;
$colorBlacker : #1A1A1A;
