//========= FONT SIZE =================
$fontsizeSmaller: 12px;
$fontsizeSmall: 14px;
$fontsizeSmallMedium: 16px;
$fontsizeMedium: 18px;
$fontsizeBig: 20px;
$fontsizeBiggest: 26px;
//========= COLORS =================
$colorExtraWhite: #ffffff;
$colorWhite: #D4D4D4;
$colorWhiter: #EEEEEE;
$colorDarkWhite: #C8C8C8;
$colorGrey: #B3B9C5;
$colorBlueGrey: #848991;
$colorTrueGray: #4D5055;
$colorDarkGray: #707070;
$colorGrayer: #333;
$colorBlue: #009EFF;
$colorBluer: #1B7CD1;
$colorViolet: #4568DC;
$colorYellow: #FFE087;
$colorYellower: #FCC21B;
$colorOrange: #FF9C1C;
$colorGreenCalm: #50CF96;
$colorBlack: #202020;
$colorBlacker: #1A1A1A;