//the standard font size

$fontsizeSmaller : 12px;
$fontsizeSmall: 14px;
$fontsizeSmallMedium : 16px;
$fontsizeMedium: 18px;

$fontsizeBig : 20px;

$fontsizeBiggest : 26px;






$colorWhite : #D4D4D4;
$colorWhiter : #EEEEEE;
$colorGrey : #B3B9C5;
