@import "../globalFontStyling";
.hashtagText {
    display: inline-block;
    border-radius: 12px;
    background-color: $colorBlacker;
    width: content-box;
    color: $colorBluer;
    font-weight: 500;
    font-size: $fontsizeSmall;
    padding: 4px 17px 4px 17px;
}