@import "../globalFontStyling";


$hashtagTextColor : #009EFF;
$hashtagBackgroundColor : #1A1A1A;
$topAndBottomPadding : 4px;
$sidesPadding : 17px;


.hashtagText{
    display: inline-block;
    border-radius: 12px;
    background-color: $hashtagBackgroundColor;
    width:content-box;
    color: $hashtagTextColor;
    font-size: $fontsizeSmall;
    padding: $topAndBottomPadding $sidesPadding $topAndBottomPadding $sidesPadding;
}




