@import "../globalFontStyling";



.articleCellContainer {
  padding-bottom: 30px;
  padding-top: 30px;
  border-bottom: 2px solid;
  border-bottom-color: #141414;

}


.articleCell {
  display: flex;
  flex-direction: column;
  border-left: solid 6px $colorBluer;
}


.articleCellTopSideContainer{
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
}


.articleCellTitle {
  color: $colorWhite;
  line-height: 1.5;
}

.articleCellTitle::first-line {
  line-height: 1.5 !important;
}



.readButtonContainer{
  padding-left: 10px;
}


.articleCellHashtagContainer{
  padding-left: 15px;

}
.articleCellHashtagContainer div{
  margin-top: 10px;
  margin-right: 10px;
}

.articleCellLikesContainer{
  margin-top: 15px;
  padding-left: 15Px;
}

@media screen and (max-width: 600px) {
  .articleCellTopSideContainer{
    flex-direction: column;
  }
  .readButtonContainer{
    padding-left: 0;
    margin-top: 15px;
  }
}
