@import "../globalFontStyling";

.articleCell {
  display: flex;
  flex-direction: column;
  border-left: solid 6px #009EFF;
}

.articleCellTopSideContainer{
  display: flex;
  padding-left: 15px;
}

.articleCellContainer {
  padding-bottom: 30px;
  padding-top: 30px;
  border-bottom: 2px solid #141414;
}

.articleCellTitle {
  color: $colorWhite;
  line-height: 1.5;

}

.articleCellTitle::first-line {
  line-height: 1.5 !important;
}

.readButtonContainer{
  padding-left: 10px;
}

.articleCellHashtagContainer{
  padding-left: 15px;
  margin-top: 15px;

}
.articleCellHashtagContainer div{
  margin-top: 10px;
  margin-right: 10px;
}




