


body {
  background-color:#202020 ;
  font-family: 'Comfortaa', cursive;
  margin: 0;
  padding: 0 0 80px 0;
  position: relative;
  min-height: 100vh;
  transition: 0.3s;
}


button {
  font: inherit;
  font-weight: bolder;
  &:focus{
    outline: none;
  }
}

a {
  text-decoration: none;
  color: inherit;
  &:focus{
    outline: none;
  }
  &:hover{
    outline: none;
  }
}

input, textarea{
  &:focus{
    outline: none;
  }
}



