@import "./components/globalFontStyling.scss";

.errorContainer{



  display: flex;
  flex-direction: column;
  align-items: center;


  padding: 20px 50px 20px 50px;
  margin: auto;



  max-width: 400px;
  border-radius: 10px;
}


.textCode{
  font-size: 60px;
  font-weight: bold;
}

.textCodeLeft{
  color: $colorBlue;

}
.textCodeMiddle{
color: $colorBlue;
}

.textCodeRight{
  color: $colorBlue;

}



.text{
  color: $colorWhite;
  font-size: $fontsizeBig;
}


.button404{
  background-color: $colorWhite;
  border: none;
  cursor: pointer;

  color: $colorBlacker;
  font-size: $fontsizeSmallMedium;
  font-family: inherit;
  font-weight: bold;
  border-radius: 15px;

  padding: 5px 17px  5px 17px ;
  margin-top: 20px;

  &:hover{
    background-color: $colorBlue;
    color: $colorWhite;
  }

}