@import './components/globalFontStyling.scss';


.subscriberThanksBox {
  max-width: 400px;
  border-radius: 10px;

  font-size: $fontsizeMedium;

  padding: 20px 50px 20px 50px;
  margin: auto;

  display: flex;
  flex-direction: column;
}

.subscriberThankButtonContainer {
  margin-top: 20px;
  text-align: center;
}

.subscriberThankButton {
  background-image: linear-gradient(to right, #3036FE, #009EFF);
  border: none;
  cursor: pointer;

  color: $colorWhite;
  font-size: $fontsizeSmallMedium;
  font-family: inherit;
  font-weight: bold;
  border-radius: 15px;

  padding: 5px 17px 5px 17px;

}

//============================================================================================

.subscribeBox {

  max-width: 400px;
  border-radius: 10px;

  padding: 5px 50px 20px 50px;
  margin: auto;

  display: flex;
  flex-direction: column;
}

.subscribeBoxTextInput {
  font-family: inherit;
  font-size: $fontsizeSmall;
  font-weight: bold;

  box-sizing: border-box;

  border-radius: 15px;
  border: none;


  padding: 6px 8px 6px 8px;
  margin-top: 20px;


  &:focus {
    border: none;
    text-decoration: none;
    outline: none;
  }
}


.subscribeButtonContainer {
  margin-top: 20px;
  text-align: center;
}

.subscribeButton {
  background-image: linear-gradient(to right, #3036FE, #009EFF);
  border: none;
  cursor: pointer;

  color: #EEEEEE;
  font-size: $fontsizeSmall;
  font-family: inherit;
  font-weight: bold;
  border-radius: 15px;

  padding: 5px 17px 5px 17px;

  &:focus {
    outline: none;
  }
}

@media screen and (max-width: 600px) {
  .subscribeBox {
    padding: 5px 20px 20px 20px;
  }
}

