@import "../globalFontStyling";


.projectLinkButton {
  background-color: #FFE087;
  padding: 0 22px 0 22px;
  height: 26.2px; //same height as ProjectGithubLinkButton
  border: none;
  color : #1A1A1A;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: $fontsizeSmall;
}